
.content clg_logo{
    align-items: center;
    width: 15rem;
}

/* .content img {
    margin-top: 6rem;
    width: 100%;
    height: 50rem;
    border-radius: 0 0 50% 50%/ 0 0 100% 100% ;
    transform: scaleX(1.5);
    
} */
.title{
    text-align: center;   
    
}

.title h1{
    font-size: 3rem;
    font-weight:600;
    color: white;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.tech_item{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.tech_item h1{
    text-align: center;
    margin: auto;
    color: aliceblue;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width : 30rem;
    justify-content: center;
    border-radius: 50px;
}
.tech_item ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tech_item a{
    text-decoration: none;
    color: black;
}

.tech_item p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(to bottom, #2c3e50, #4ca1af);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
    
}

.tech_item li{
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: (0,0,0,0.5);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-top:5rem ;
    /* margin-bottom: 3rem; */
    width: 15rem;
    height: 15rem;
}

.tech_item img{
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}

.tech_item li :hover{
    opacity: 0.9;
    transition: all 0.1 ease-in-out;
}