footer {
  border-top: 1px  gray;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  text-align: center;
  align-items: center;
  height: 5rem;
  padding: 10px;
  font-size: 25px;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  color: white;
}
